---
import astroLogo from "../assets/astro.svg?url";
import qwikLogo from "../assets/qwik.svg?url";
import { Counter } from "../components/counter.tsx";
import Layout from "../layouts/Layout.astro";
import { Nav } from "../components/nav";
import { Persist } from "@components/persist";
---

<Layout title="Qwik + Astro">
  <main id="app">
    about page

    <Persist persistKey="counter">
      <Counter />
    </Persist>
    <p class="read-the-docs">Click on the Qwik and Astro logos to learn more</p>
  </main>

  <style is:global></style>
</Layout>
